.avatar{
    width: 50%;
    height: auto;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-icon{
    margin-right: 5px;
}
*{
    transition: 1s;
}