<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h2 style="color:white;">Login Form</h2>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                  <ion-button size="large" expand="block">Login</ion-button>
              </ion-col>
              <ion-col size="6">
                  <ion-button size="large" expand="block" color="secondary" (click)="abrirRegistro()">Registro</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
