<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Dashboard
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding color="primary">
    <ion-card style="color:white;" color="dark">
        <ion-card-header>
            <ion-card-title>Bienvenido! </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{data.usuario}}</p>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!hayActivos" color="secondary" >
        <ion-card-header>
            <ion-card-title>Todavia no tienes ningun activo!</ion-card-title>
        </ion-card-header>
        <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="agregarNuevosActivos()">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        <ion-card-content>
            <p>Empieza a agregarlos desde el boton de la derecha</p>
        </ion-card-content>
    </ion-card>
</ion-content>
