<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Dashboard
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card style="color:white;" color="dark">
        <ion-card-header>
            <ion-row>
                <ion-col size="2" color="dark">
                    <ion-fab-button [routerLink]="[ '/perfil' ]" style="height:225% !important;" color="dark">
                        <ion-img [src]="imagenUsuario" style="height:100% !important;" color="dark"></ion-img>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="10">

                    <ion-card-title>Bienvenido {{data.usuario}}</ion-card-title>
                </ion-col>

            </ion-row>
            <mat-divider>
            </mat-divider>


        </ion-card-header>
        <ion-card *ngIf="hayActivos && service.getArrayActivosCompletos().length>0">
            <canvas #barCanvas></canvas>
        </ion-card>

        <ion-card *ngIf="!hayActivos || service.getArrayActivosCompletos().length==0" color="dark">
            <ion-card-header>
                <ion-card-title text-center>Todavia no tienes ningun activo!</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col size="5"></ion-col>
                    <ion-col size="2">
                        <img src="../../assets/icons/sad.png" alt="" srcset="">
                    </ion-col>
                    <ion-col size="5"></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <button mat-button (click)="agregarNuevosActivos()" style="width:100%;">Agregar activos</button>
                    </ion-col>
                </ion-row>


            </ion-card-content>
        </ion-card>
        <ion-card-content *ngIf="hayActivos && service.getArrayActivosCompletos().length>0">


            <ion-row>
                <ion-col size="4">
                    <ion-label>Posesiones Totales</ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-label>Posesiones Netas</ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-label>% Total</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <ion-label>{{totalInvertidoBase | number}} </ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-label>{{totalInvertidoActual | number}} </ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-label [color]="tenyirLabel(porcentajeNum)">{{porcentajeNum}}</ion-label>
                </ion-col>
            </ion-row>


        </ion-card-content>
        <ion-card color="light" *ngIf="hayActivos && service.getArrayActivosCompletos().length>0">
            <ion-segment scrollable color="success">
                <ion-segment-button value="USD" checked (click)="traducirPrecioUsuario('USD','$')">
                    <ion-chip color="success">
                        <ion-avatar>
                            <img [src]="generarImgForex('united-states')">
                        </ion-avatar>
                        <ion-label>USD</ion-label>
                    </ion-chip>
                </ion-segment-button>
                <ion-segment-button value="EUR" (click)="traducirPrecioUsuario('EUR','€')">
                    <ion-chip color="success">
                        <ion-avatar>
                            <img [src]="generarImgForex('european-union')">
                        </ion-avatar>
                        <ion-label>EUR</ion-label>
                    </ion-chip>
                </ion-segment-button>
                <ion-segment-button value="GBP" (click)="traducirPrecioUsuario('GBP','£')">
                    <ion-chip color="success">
                        <ion-avatar>
                            <img [src]="generarImgForex('united-kingdom')">
                        </ion-avatar>
                        <ion-label>GBP</ion-label>
                    </ion-chip>
                </ion-segment-button>
                <ion-segment-button value="JPY" (click)="traducirPrecioUsuario('JPY','¥')">
                    <ion-chip color="success">
                        <ion-avatar>
                            <img [src]="generarImgForex('japan')">
                        </ion-avatar>
                        <ion-label>JPY</ion-label>
                    </ion-chip>
                </ion-segment-button>
                <ion-segment-button value="AUD" (click)="traducirPrecioUsuario('AUD','$ AUD')">
                    <ion-chip color="success">
                        <ion-avatar>
                            <img [src]="generarImgForex('australia')">
                        </ion-avatar>
                        <ion-label>AUD</ion-label>
                    </ion-chip>
                </ion-segment-button>
                <ion-segment-button value="NZD" (click)="traducirPrecioUsuario('NZD','$ NZD')">
                    <ion-chip color="success">
                        <ion-avatar>
                            <img [src]="generarImgForex('new-zealand')">
                        </ion-avatar>
                        <ion-label>NZD</ion-label>
                    </ion-chip>
                </ion-segment-button>
            </ion-segment>
        </ion-card>
    </ion-card>


    <ion-card *ngIf="hayActivos" color="light">
        <mat-tab-group>
            <mat-tab label="Operaciones abiertas" color="dark">
                <ion-list style="padding:0px;">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let activo of service.getArrayActivos()">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <img [src]="generarImgCripto(activo)"
                                        style="border-radius:0%;height:32px;width:32px;" item-start
                                        *ngIf="activo.tipo=='Criptomoneda'">


                                    <img [src]="generarImgStock(activo)"
                                        style="border-radius:0%;height:32px;width:32px;" item-start
                                        *ngIf="activo.tipo=='Stock'">


                                    <ion-label style="font-size:14px;margin-top:5%;margin-left:1%;" color="medium">
                                        {{activo.PAR_FULL}}
                                    </ion-label>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <ion-label style="margin-top:3%;text-align: center;width: 100%;"
                                        *ngIf="activo.tipoRelacion=='vender'">Operacion de
                                        venta</ion-label>
                                    <ion-label style="margin-top:3%;text-align: center;width: 100%;"
                                        *ngIf="activo.tipoRelacion=='comprar'">Operacion de
                                        compra</ion-label>

                                    <ion-label [color]="tenyirLabel(activo.rentabilidad)"
                                        style="margin-top:3%;text-align: right;width: 100%;">
                                        {{activo.rentabilidad}}</ion-label>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-list>
                                <h3 mat-subheader>Transaccion realizada en {{activo.exchange}}</h3>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>access_time</mat-icon>
                                    <h4 mat-line>Fecha de entrada</h4>
                                    <p mat-line> {{activo.fecha_operacion}} </p>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>timeline</mat-icon>
                                    <h4 mat-line>Precio de entrada</h4>
                                    <p mat-line> {{activo.precio_compra}} </p>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>update</mat-icon>
                                    <h4 mat-line>Precio actual</h4>
                                    <p mat-line> {{activo.precio}} </p>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>shopping_cart</mat-icon>
                                    <h4 mat-line>Cantidad ejecutada</h4>
                                    <p mat-line> {{activo.cantidad}} unidades </p>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <button mat-raised-button color="warn" style="width:100%;"
                                        (click)="cerrar_operacion(activo)">Cerrar operacion</button>
                                </mat-list-item>
                            </mat-list>

                        </mat-expansion-panel>
                    </mat-accordion>


                </ion-list>
            </mat-tab>
            <mat-tab label="Operaciones cerradas" color="dark">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let activo of service.getArrayActivoCompletosCerrados()">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img [src]="generarImgCripto(activo.activo)"
                                    style="border-radius:0%;height:32px;width:32px;" item-start
                                    *ngIf="activo.activo.tipo=='Criptomoneda'">
                                <img [src]="generarImgStock(activo.activo)"
                                    style="border-radius:0%;height:32px;width:32px;" item-start
                                    *ngIf="activo.activo.tipo=='Stock'">
                                <ion-label style="font-size:14px;margin-top:5%;margin-left:1%;" color="medium">
                                    {{activo.activo.siglas}}{{activo.siglas_operacion}}
                                </ion-label>
                            </mat-panel-title>
                            <mat-panel-description>
                                <ion-label style="margin-top:3%;text-align: center;width: 100%;"
                                    *ngIf="activo.tipo=='vender'">Operacion de
                                    venta</ion-label>
                                <ion-label style="margin-top:3%;text-align: center;width: 100%;"
                                    *ngIf="activo.tipo=='comprar'">Operacion de
                                    compra</ion-label>

                                <ion-label [color]="tenyirLabel(activo.rentabilidad)"
                                    style="margin-top:3%;text-align: right;width: 30%;">
                                    {{activo.rentabilidad}}</ion-label>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <h3 mat-subheader>Transaccion realizada en {{activo.exchange}}</h3>
                            <mat-list-item>
                                <mat-icon mat-list-icon>access_time</mat-icon>
                                <h4 mat-line>Fecha de entrada</h4>
                                <p mat-line> {{activo.fecha_operacion}} </p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon mat-list-icon>access_time</mat-icon>
                                <h4 mat-line>Fecha de salida</h4>
                                <p mat-line> {{activo.fecha_cierre}} </p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon mat-list-icon>timeline</mat-icon>
                                <h4 mat-line>Precio de entrada</h4>
                                <p mat-line> {{activo.precio_compra}} </p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon mat-list-icon>close</mat-icon>
                                <h4 mat-line>Precio de salida</h4>
                                <p mat-line> {{activo.activo.precio}} </p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon mat-list-icon>format_quote</mat-icon>
                                <h4 mat-line>Comentario</h4>
                                <p mat-line> {{activo.observaciones}} </p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <button mat-raised-button color="primary" style="width:100%;"
                                    (click)="eliminar_operacion(activo)">Eliminar registro</button>
                            </mat-list-item>
                        </mat-list>

                    </mat-expansion-panel>
                </mat-accordion>
                <ion-card *ngIf="service.getArrayActivoCompletosCerrados().length==0" color="primary">
                    <ion-card-header>
                        <ion-card-title text-center>No tienes operaciones cerradas todavia</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="5"></ion-col>
                            <ion-col size="2">
                                <img src="../../assets/icons/sad.png" alt="" srcset="">
                            </ion-col>
                            <ion-col size="5"></ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </mat-tab>
        </mat-tab-group>
    </ion-card>

</ion-content>